body {
    font-family: 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
}

header {
    height: 100px;
    background-color: rgb(78, 160, 255);
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    background-size: contain;
}

header img {
    height: 50px;
    background-repeat: no-repeat;
    margin-top: 40px;
}

h1 {
    width: 1020px;
    margin: 0%;
}

#immagini {
    margin-top: 20px;
    width: 1020px;


}

.testo-grigio {
    font-size: 14px;
    color: #808080;
}

.didascalia {
    font-size: 12px;
    margin-top: 0px;
}

main p {
    width: 1020px;
}

table {
    font-family: 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 1020px;
}

td,
th {
    border: 1px solid #ffffff;
    text-align: left;
}

.rigascura {
    background-color: #20A9E5;
    color: white;
    height: 10px;
}

.rigachiara {
    background-color: #B1E5F2;
    height: 40px;
}

.rigabianca {
    background-color: #ffffff;
    height: 40px;
}

ul {
    padding-left: 20px
}

footer div {
    height: 210px;
    background-repeat: no-repeat;
}

.immagine1 {
    background-image: url(../img/monitor.jpg);
    color: white;
}

.immagine2 {
    background-image: url(../img/graph.jpg);
    color: white;
}