header {
    height: 100px;
    background-color: rgb(78, 160, 255);
    background-image:url(../img/pattern.png);
    background-repeat: repeat-x;
    background-size: contain;
}

header img {
    height: 50px;
    background-repeat: no-repeat;
    margin-top: 50px;
}
.autore {
    font-size: 12px;
    color: rgb(186, 186, 186);
}

.didascalia {
    font-size: 10px;
}
